.cont {
  margin: 3% auto;

  width: 86%;
  display: flex;
}
.box:nth-child(1) {
  margin-left: 10px;
}
.box:nth-child(2) {
  flex: 1;
  margin-left: 15px;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Split the grid into two equal columns */
  align-items: center;
  height: 62px;
}

.label {
  color: #666;
  padding-left: 10px;
}

.styles.datatext {
  color: #666;
  text-align: center;
}
.img {
  width: 300px; /* Задайте нужную ширину блока */
  height: 200px;
  background-size: cover;
  background-position: center;
}
.hr1 {
  width: 97%;
  margin: 0 auto;
  border-top: 0.5px solid #f0f0f0;
}
.button {
  color: #ffcc00;
  border: 1px solid #ffcc00 !important;
  padding: 10px 20px 10px 20px !important;
}
.button:hover {
  box-shadow: 0px 0px 5px 1px #ffcc00 !important;
}
.cardMedia {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.curcle {
  width: 160px;
  height: 160px;
  border-radius: 80px;
 
}
