.wrapper {
  padding: 1rem 4%;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 2rem 1rem; 
}

.card {
  min-width: calc(33% - 2rem/3);
  display: flex;
  justify-content: center;

  @media screen and (max-width: 480px) {
  display: flex;
  flex-wrap: wrap;
    min-width: 100%;
  }

  @media screen and (max-width: 1200px) {
    min-width: calc(50% - 1rem/2);
  }
}

