.wrapper {
  padding: 1rem 4%;
}
.title {
  display: flex;
  justify-content: space-between;
}
.addbtn {
  background: #fc0 !important;
  padding: 5px 10px !important;
  font-size: 16px !important;
  text-transform: none !important;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem 1rem;
}

.card {
  min-width: calc(33% - 2rem / 3);
  display: flex;
  justify-content: center;

  @media screen and (max-width: 480px) {
    min-width: 100%;
  }

  @media screen and (max-width: 1200px) {
    min-width: calc(50% - 1rem / 2);
  }
}
