.cpActive {
  color: green !important;
  background: rgba(126, 252, 0, 0.4) !important;
  text-align: center;
}

.cpFalse {
  text-align: center;
  color: rgb(158, 24, 24) !important;
  background: rgba(255, 0, 0, 0.351) !important;
}
