.snackbar {
    width: 100%;
    font-size: 22px !important;
    background: #ff000081 !important;
    display: flex;
    align-items: center;
    svg {
      width: 50px !important;
      font-size: 34px !important;
      fill: #fff !important;
    }
    > * {
      color: #fff !important;
    }
  }