.cpActive {
    color: #333 !important;
    background: #ffcc00 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

  }
  
  .cpFalse {
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #ffcc00 !important;
    background:#333 !important;
  }
  