.xz {
  color: white;
  > * > ul {
    height: 100vh !important;
  }
}
.pcolor {
  color: white;
}
.iconRight {
  color: white;
}
.reacticon {
  font-size: 20px;
  color: #ffcc00;
}
.logo {
  margin-right: 30px;
}
