.xz {
  color: white;
  > * > ul {
    height: 100vh !important;
  }
  > div {
    height: 100vh !important;
  }

  svg {
    color: #ffcc00;
    font-size: 1.7rem;
  }
}

.iconRight {
  color: white;
}

.link {
  color: #666;
  &:hover{
    text-decoration: underline;
  }
}
.active {
  color: #ffcc00 !important; 
}
.logo{
  color: #fff;
  height: 32px;
  width: 141px;


  
}
