.xz {
  color: white;
  > * > ul {
    height: 100vh !important;
  }

  svg {
    color: #ffcc00;
    font-size: 1.7rem;
  }
}
.pcolor {
  color: white;
  margin: 0.8rem 0;
}
.iconRight {
  color: white;
}

.logo {
  margin-right: 1rem;
}
