.icons {
  background: #333;
  display: flex;
  height: 44px;
  justify-content: space-evenly;
  > button > * {
    width: 20px;
    height: 20px;
    color: #fc0;
    cursor: pointer;
  }
  > button {
    &:hover {
      > * {
        color: #333;
      }
      background: #fc0;
      color: #333;
    }
  }
}
